
.avatar {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border: 1px solid black;
}

.nav-avatar {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    align-self: center;
    border: 1px solid black;
    
}

.nav-avatar:hover {
    border: 1px solid #0891B2;
    cursor: pointer;
}

.avatar-profile {
    border-radius: 100%;
    width: 15%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.comment-panel-container {
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 125px);
    justify-content: center;
}

.comment-panel {
    width: 100%;
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-align: start;   
    padding: 0 10px;
}

.post-thumbnail {
    width: 75%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.route-avatar {
    width: 100%;
    height: auto;
    align-self: center;
}