
.avatar {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border: 1px solid black;
}

.nav-avatar {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    align-self: center;
    border: 1px solid black;
    
}

.nav-avatar:hover {
    border: 1px solid #0891B2;
    cursor: pointer;
}

.avatar-profile {
    border-radius: 100%;
    width: 15%;
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.comment-panel-container {
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 125px);
    justify-content: center;
}

.hidden-input {
    display: none;
}

.native-button {
    background-color: #0891B2;
    color: white;
    border: none;
    width: fit-content;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 10px;
}

.comment-panel {
    width: 100%;
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-align: start;   
    padding: 0 10px;
}

.post-thumbnail {
    width: 75%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.route-avatar {
    width: 100%;
    height: auto;
    align-self: center;
}

.route-view-avatar {
    max-height: calc(100vh - 200px);
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

.route-popup-avatar {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    max-width: 80%;
    border-radius: 5px;
}