.reporter-handle {
  text-decoration: underline;
  color: white;
}

.reporter-handle:hover {
  cursor: pointer;
}

.modaction-container {
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 150px);
  justify-content: center;
}

.modaction-panel {
  width: 90%;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-align: start;
  padding: 0 10px;
}
