.native-base-clone-input {
  padding: 10px 5px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  font-family: sans-serif;
}

.native-base-clone-input:hover {
  border-color: #0b91b1;
}

.native-base-clone-input:focus {
  outline: none !important;
  background-color: #eaf4f7;
  border: 2px solid #0a91b1;
}